.git
.gitignore
.codex
docker-compose.local.yml
docker-compose.production.yml
Dockerfile.nginx
nginx.conf
nginx-production.conf
ssl
readmi.md
sorherminia.sql

laravel-app/.env
laravel-app/node_modules
laravel-app/vendor
laravel-app/storage/logs
laravel-app/storage/framework/cache/data
laravel-app/storage/framework/sessions
laravel-app/storage/framework/views
